.header {
  overflow: hidden;
  background-color: #C03535;
  padding: 20px 10px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.header img {
  height: 40px;
  padding-top: 5px;
  padding-left: 10px;
  margin-right: 20px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #F06060;
  color: white;
}

/* Float the link section to the right */
.header-left {
  flex:1 1 200px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: red;
  text-align: center;
}



.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat.woff2') format('woff2'),
       url('fonts/montserrat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.item h2 {
  color: #ed5050;
  font-size: 24px;
  margin: 10px 0;
}

.item .image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}

.item .image {
  width: 400px;
  height: 267px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.item .image:hover {
  opacity: 0.8;
  filter: brightness(60%);
}

.item .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
}

.item .image-container:hover .description {
  opacity: 1;
}

#page-container {
  position: relative;
  height: 180px:
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: relative;
  width: 100%;
  height: 180px;
  margin-top: -100px;
  clear: both;
  
  
}
.footer img {
  width: 50%;
  padding-top: 5%;
  
}

.column {
  float: left;
  background: #C03535;
  height: 180px;
  text-align: center;
}

.copy {
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  text-align: center;
  font-size: 10px;
  color: white;
  text-decoration: none;
  
}
.column a, .column p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  
}

.left {
  width: 33.333333333333333333%;
  
}

.middle {
  width: 33.333333333333333333%;

}

.right {
  width: 33.333333333333333333%;
  
}
