/* Header style */
.header {
  overflow: hidden;
  background-color: #C03535;
  padding: 20px 10px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

/* Header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


.header img {
  height: 40px;
  padding-top: 5px;
  padding-left: 10px;
  margin-right: 20px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #F06060;
  color: white;
}

/* Float the link section to the right */
.header-left {
  flex:1 1 200px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

